<% ud = session.fetch(:user_id) %>
<div class="jumbotron">
  <h1 class="display-3">League Home </h1>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="exampleModal">
  Add a new league!
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<hr>
<div>
  <div>
    <h2>
      Add a new league
    </h2>
    <form action="/insert_league" method="post">
      <div>
        <label for="name_box">
          Name
        </label>
        <input type="text" id="name_box" name="query_name">
        <label for="year_box">
        </label>
        <input type="hidden" id="year_box" name = "query_year" value = <%= DateTime.now.year %>>
      </div>
      <div>
        <div>
        <label for="league_type_id">
          Team Type
        </label>
        <select name="query_league_type_id" id="league_type_id">
          <% Leaguetype.order(:id).each do |a_league_type| %>
            <option value="<%= a_league_type.id %>">
              <%= a_league_type.league_type %>
            </option>
          <% end %>
        </select>
      </div>
      <button>
        Create league
      </button>
    </form>
  </div>
</div>
<hr>
<div>
  <div>
    <table class="table table-hover">
      <tr>
        <th>
          ID
        </th>
        <th>
          Name
        </th>
        <th>
          Year
        </th>
        <th>
          League type
        </th>
        <th>
          League Owner
        </th>
        <th>
        </th>
      </tr>
      <% @list_of_leagues.each do |a_league| %>
        <tr>
          <td>
            <%= a_league.id %>
          </td>
          <td>
            <%= a_league.name %>
          </td>
          <td>
            <%= a_league.year %>
          </td>
          <td>
            <% league_type = Leaguetype.where(:id => a_league.league_type_id).first %>
            <%= league_type.league_type %>
          </td>
          <td>
            <% league_owner = User.where(:id => a_league.user_id).first %>
            <% if league_owner != nil %>
              <%= league_owner.username%>
            <% else %>
              -
            <% end %>
          </td>
          <td>
            <a href="/leagues/<%= a_league.id %>">
              Show details
            </a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<hr>
