<div>
  <div>
    <h1>
      League <%= @the_league.name %> details
    </h1>

    <div>
      <div>
        <a href="/leagues">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_league/<%= @the_league.id %>">
          Delete league
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_league.name %>
      </dd>

      <dt>
        Fantasy Year
      </dt>
      <dd>
        <%= @the_league.year %>
      </dd>

      <dt>
        League type
      </dt>
      <dd>
        <% league_type = Leaguetype.where(:id => @the_league.league_type_id).first %>
        <%= league_type.league_type %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_league.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_league.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>


   <hr>
      <% u_id = session.fetch(:user_id) %>

      <% matching_leagues = FantasyTeam.where({ :user_id => u_id, :league_id => @the_league.id }) %>

      <% the_league = matching_leagues.at(0) %>

      <% if the_league == nil %>
        <form action="/join_fantasy_team" method="get">
          <input name="query_league_id" type="hidden" value="<%= @the_league.id %>">
          
          <input name="query_user_id" type="hidden" value="<%= session.fetch(:user_id) %>">

          <button>Join this League!</button>
        </form>  
      <% else %>
        <a href="/delete_fantasy_team/<%= the_league.id %>">
          Leave this League
        </a>
      <% end %>

<hr>



<div>
  <div>
    <h2>
      Edit league
    </h2>

    <form action="/modify_league/<%= @the_league.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_league.name %>">
      </div>

      <div>
        <label for="year_box">
          Year
        </label>

        <input type="text" id="year_box" name="query_year" value="<%= @the_league.year %>">
      </div>

      <div>
        <label for="league_type_id_box">
          League type
        </label>

        <input type="text" id="league_type_id_box" name="query_league_type_id" value="<%= @the_league.league_type_id %>">
      </div>

      <button>
        Update league
      </button>
    </form>
  </div>
</div>

<hr>
