<div class="d-flex justify-content-center">
  <img src="https://therules.org/wp-content/uploads/2017/10/LogoHorizontal.png" width="60%" height="auto">
</div>
<% team_types = TeamType.all %>
<div class="card-group" >
  <div class="card">
    <h2 class="text-center">The League of Extraordinary Gentlemen is a special kind of fantasy football experience. Each league member is a character with special abilities. These abilities uniquely affect the games each week with the abilities specified below:
    </h2>
  </div>
</div>
<div>
  <div class="card-group">
    <div class="card">
      .
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%= team_types.where(:id => 1).first.specialpower%> </h4>
      <p class="card-text"><%= team_types.where(:id => 1).first.description %></p>
      <div class="d-flex justify-content-center">
        <img src= <%= team_types.where(:id => 1).first.image %> alt="The Aggressor" width="70%" height="auto">
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%= team_types.where(:id => 2).first.specialpower%></h4>
      <p class="card-text"><%= team_types.where(:id => 2).first.description%></p>
      <div class="d-flex justify-content-center">
        <img src= <%= team_types.where(:id => 2).first.image %> alt="The Aquaman" width="50%" height="auto">
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%= team_types.where(:id => 3).first.specialpower%></h4>
      <p class="card-text"><%= team_types.where(:id => 3).first.description%></p>
      <div class="d-flex justify-content-center">
        <img src= <%= team_types.where(:id => 3).first.image %> alt="The Equalizer" width="40%" height="auto">
      </div>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%= team_types.where(:id => 4).first.specialpower%></h4>
      <p class="card-text"><%= team_types.where(:id => 4).first.description%></p>
      <div class="d-flex justify-content-center">
        <img src= <%= team_types.where(:id => 4).first.image %> alt="The Gentleman Thief" width="50%" height="auto">
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%= team_types.where(:id => 5).first.specialpower%></h4>
      <p class="card-text"><%= team_types.where(:id => 5).first.description%></p>
      <div class="d-flex justify-content-center">
        <img src= <%= team_types.where(:id => 5).first.image %> alt="The Gunslinger" width="80%" height="auto">
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%= team_types.where(:id => 6).first.specialpower%></h4>
      <p class="card-text"><%= team_types.where(:id => 6).first.description%></p>
      <div class="d-flex justify-content-center">
        <img src= <%= team_types.where(:id => 6).first.image %> alt="The Immortal" width="50%" height="auto">
      </div>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%= team_types.where(:id => 7).first.specialpower%></h4>
      <p class="card-text"><%= team_types.where(:id => 7).first.specialpower%></p>
      <div class="d-flex justify-content-center">
        <img src= <%= team_types.where(:id => 7).first.image %> alt="The Invisible Man" width="50%" height="auto">
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%= team_types.where(:id => 8).first.specialpower%></h4>
      <p class="card-text"><%= team_types.where(:id => 8).first.description%></p>
      <div class="d-flex justify-content-center">
        <img src= <%= team_types.where(:id => 8).first.image %> alt="The Juggernaut" width="50%" height="auto">
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%= team_types.where(:id => 9).first.specialpower%></h4>
      <p class="card-text"><%= team_types.where(:id => 9).first.description%></p>
      <div class="d-flex justify-content-center">
        <img src= <%= team_types.where(:id => 9).first.image %> alt="The Scrooge" width="50%" height="auto">
      </div>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%= team_types.where(:id => 10).first.specialpower%></h4>
      <p class="card-text"><%= team_types.where(:id => 10).first.description%></p>
      <div class="d-flex justify-content-center">
        <img src= <%= team_types.where(:id => 10).first.image %> alt="The Sorting Hat" width="90%" height="auto">
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%= team_types.where(:id => 11).first.specialpower%></h4>
      <p class="card-text"><%= team_types.where(:id => 11).first.description%></p>
      <div class="d-flex justify-content-center">
        <img src= <%= team_types.where(:id => 11).first.image %> alt="The Time Lord" width="70%" height="auto">
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%= team_types.where(:id => 12).first.specialpower%></h4>
      <p class="card-text"><%= team_types.where(:id => 12).first.description%></p>
      <div class="d-flex justify-content-center">
        <img src= <%= team_types.where(:id => 12).first.image %> alt="The Vampire" width="50%" height="auto">
      </div>
    </div>
  </div>
</div>
