<h1> Pick your team! </h1>
<form action="/draft_team" method="post">
  <div>
    <label for="team_id">
    </label>
    <select name="query_team_id" id="team_id">
      <% FantasyTeam.order(:name).where(:user_id => session.fetch(:user_id)).each do |a_team| %>
        <option value="<%= a_team.id %>">
          <% @query_league = League.where(:id => a_team.league_id).first %>
          <% team_league = a_team.name + " - " + @query_league.name %>
          <%= team_league %>
        </option>
      <% end %>
    </select>
  </div>
  <label for="league_id">
  </label>
  <input type="hidden" id="league_id" name="query_league_id" value = <%= @query_league.id %>>
  <div>
    <h2> Current Members</h2>
    <div>
      <table class="table table-hover">
        <tr>
          <th>
            Position
          </th>
          <th>
            Player Name
          </th>
          <th>
          </th>
        </tr>
        <tr>
          <td>
            QB
          </td>
          <td>
            <div>
              <div>
                <label for="qb_id">
                </label>
                <select name="query_qb_id" id="qb_id">
                  <% Player.order(:name).where(:position_id => 1).each do |qb| %>
                    <option value="<%= qb.id %>">
                      <% fullname = qb.firstname + " " + qb.lastname %>
                      <%= fullname %>
                    </option>
                  <% end %>
                </select>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            RB 1
          </td>
          <td>
            <div>
              <label for="player_id">
              </label>
              <select name="query_rb1_id" id="player_id">
                <% Player.order(:id).where(:position_id => 2).each do |a_player| %>
                  <option value="<%= a_player.id %>">
                    <% fullname = a_player.firstname + " " + a_player.lastname %>
                    <%= fullname %>
                  </option>
                <% end %>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            RB 2
          </td>
          <td>
            <div>
              <label for="rb2_id">
              </label>
              <select name="query_rb2_id" id="rb2_id">
                <% Player.order(:id).where(:position_id => 2).each do |a_player| %>
                  <option value="<%= a_player.id %>">
                    <% fullname = a_player.firstname + " " + a_player.lastname %>
                    <%= fullname %>
                  </option>
                <% end %>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            WR 1 
          </td>
          <td>
            <div>
              <label for="wr1_id">
              </label>
              <select name="query_wr1_id" id="wr1_id">
                <% Player.order(:id).where(:position_id => 3).each do |a_player| %>
                  <option value="<%= a_player.id %>">
                    <% fullname = a_player.firstname + " " + a_player.lastname %>
                    <%= fullname %>
                  </option>
                <% end %>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            WR 2
          </td>
          <td>
            <div>
              <label for="wr2_id">
              </label>
              <select name="query_wr2_id" id="wr2_id">
                <% Player.order(:id).where(:position_id => 3).each do |a_player| %>
                  <option value="<%= a_player.id %>">
                    <% fullname = a_player.firstname + " " + a_player.lastname %>
                    <%= fullname %>
                  </option>
                <% end %>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            TE
          </td>
          <td>
            <div>
              <label for="te_id">
              </label>
              <select name="query_te_id" id="te_id">
                <% Player.order(:id).where(:position_id => 4).each do |a_player| %>
                  <option value="<%= a_player.id %>">
                    <% fullname = a_player.firstname + " " + a_player.lastname %>
                    <%= fullname %>
                  </option>
                <% end %>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            FLEX
          </td>
          <td>
            <div>
              <label for="flex_id">
              </label>
              <select name="query_flex_id" id="flex_id">
                <% Player.order(:id).where(:position_id => 2).each do |a_player| %>
                  <option value="<%= a_player.id %>">
                    <% fullname = a_player.firstname + " " + a_player.lastname %>
                    <%= fullname %>
                  </option>
                <% end %>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            K
          </td>
          <td>
            <div>
              <label for="k_id">
              </label>
              <select name="query_k_id" id="k_id">
                <% Player.order(:id).where(:position_id => 5).each do |a_player| %>
                  <option value="<%= a_player.id %>">
                    <% fullname = a_player.firstname + " " + a_player.lastname %>
                    <%= fullname %>
                  </option>
                <% end %>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            DEF
          </td>
          <td>
            <div>
              <label for="def_id">
              </label>
              <select name="query_def_id" id="def_id">
                <% Player.order(:id).where(:position_id => 6).each do |a_player| %>
                  <option value="<%= a_player.id %>">
                    <% fullname = a_player.firstname + " " + a_player.lastname %>
                    <%= fullname %>
                  </option>
                <% end %>
              </select>
            </div>
          </td>
        </tr>
      </table>
      <button>
        Save your team!
      </button>
    </form>
  </div>
  <!-- <form action="/draft_team" method="post" >
    <button type="button">
      Save your team!
    </button>
  </form>

  <form action="/draft_team" method="post" >
              <input name="query_qb_id" type="hidden" >
              <input name="query_user_id" type="hidden" value="<%= session.fetch(:user_id) %>">
              <button class="btn btn-primary btn-lg">Save your team</button>
            </form> -->
</div>
