<body>
  <% ud = session.fetch(:user_id) %>
  <div class="jumbotron">
    <h1 class="display-3">Welcome <%= User.where( {:id => ud }).first.username %> ! </h1>
    <p class="lead">See below for your current leagues and teams</p>
    <hr class="my-2">
    <p>Join as many as you like and invite your friends to see who reigns as fantasy champion </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/l" role="button">Join a League!</a>
    </p>
</div>



<hr>
<div>
<h2> Your Current Teams</h2>
  <div>
    <table class="table table-hover">
      <tr>
        <th>
        <p class="text-center">
          Team Icon
          </p>
        </th>

        <th>
          Team Name
        </th>

        <th>
          League Name
        </th>

        <th>
         
        </th>

        
      </tr>
      <% ud = session.fetch(:user_id) %>
      <% team_type = TeamType.where(:user_id => ud) %>
      <% FantasyTeam.where(:user_id => ud).each do |a_fantasy_team| %>
      <tr>
      <% league_obj = League.where(:id => a_fantasy_team.league_id).first %>
        <td>
          <% team_type = TeamType.where(:id => a_fantasy_team.team_type_id).first %>
          <p class="text-center">
          <a href="/leagues/<%= league_obj.id %>">
          <img src = <%= team_type.image %>  height= 50px width = auto > </a> </p> 
        </td>

        <td>
          <%= a_fantasy_team.name %>
        </td>

        <td>
           <a href="/leagues/<%= league_obj.id %>">
          <%= league_obj.name %>
          </a>
        </td>
        <td>
          <a href="/fantasy_teams/<%= a_fantasy_team.id %>">
            See your roster!
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
</body>
</html>
