<body>
  <% ud = session.fetch(:user_id) %>
  <div class="jumbotron">
    <h1 class="display-3">Welcome <%= User.where( {:id => ud }).first.username %> ! </h1>
    <p class="lead">See below for your current leagues and teams</p>
    <hr class="my-2">
    <p>Join as many as you like and invite your friends to see who reigns as fantasy champion </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/l" role="button">Join a League!</a>
    </p>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Team Name
        </th>

        <th>
          League Name
        </th>

        <th>
         
        </th>

        
      </tr>
      <% ud = session.fetch(:user_id) %>
      <% FantasyTeam.where(:user_id => ud).each do |a_fantasy_team| %>
      <tr>
        <td>
          <%= a_fantasy_team.id %>
        </td>

        <td>
          <%= a_fantasy_team.name %>
        </td>

        <td>
          <% league_obj = League.where(:id => a_fantasy_team.league_id).first %>
          <%= league_obj.name %>
        </td>
        <td>
          <a href="/leagues/<%= league_obj.id %>">
            Show Details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
</body>
</html>
