<div>
  <div>
    <h1>
      Fantasy team #<%= @the_fantasy_team.id %> details
    </h1>
    <div>
      <div>
        <a href="/fantasy_teams">
          Go back
        </a>
      </div>
      
      <div>
        <a href="/delete_fantasy_team/<%= @the_fantasy_team.id %>">
          Delete fantasy team
        </a>
      </div>
    </div>
    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_fantasy_team.name %>
      </dd>
      <dt>
        Team type
      </dt>
      <dd>
        <%= @the_fantasy_team.team_type_id %>
      </dd>
      <dt>
        League
      </dt>
      <dd>
        <%= @the_fantasy_team.league_id %>
      </dd>
      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_fantasy_team.created_at) %> ago
      </dd>
      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_fantasy_team.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>
<hr>
<% u_id = session.fetch(:user_id) %>
<% matching_leagues = League.where({ :user_id => u_id, :league_id => @the_fantasy_team.id }) %>
<% the_league = matching_leagues.at(0) %>
<% if the_league == nil %>
  <form action="/insert_bookmark" method="post">
    <input name="query_movie_id" type="hidden" value="<%= @the_movie.id %>">
    <input name="query_user_id" type="hidden" value="<%= session.fetch(:user_id) %>">
    <button>Bookmark this movie!</button>
  </form>
<% else %>
  <a href="/delete_bookmark/<%= the_bookmark.id %>">
    Un-bookmark
  </a>
<% end %>
<hr>
<div>
  <div>
    <h2>
      Edit fantasy team
    </h2>
    <form action="/modify_fantasy_team/<%= @the_fantasy_team.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>
        <input type="text" id="name_box" name="query_name" value="<%= @the_fantasy_team.name %>">
      </div>
      <div>
        <label for="team_type_id_box">
          Team type
        </label>
        <input type="text" id="team_type_id_box" name="query_team_type_id" value="<%= @the_fantasy_team.team_type_id %>">
      </div>
      <div>
        <label for="league_id_box">
          League
        </label>
        <input type="text" id="league_id_box" name="query_league_id" value="<%= @the_fantasy_team.league_id %>">
      </div>
      <button>
        Update fantasy team
      </button>
    </form>
  </div>
</div>
<hr>
